.project-wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  .project-container {
    height: 100vh;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .project {
      font-family: "Neue Montreal", sans-serif;
      padding: 40px 80px 40px 80px;
      width: 80%;
      color: var(--black);
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 0%;
      -webkit-transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
      -o-transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
      transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
      border-top: 1.5px solid lightgrey;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;

      .project-text {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        h2 {
          font-size: clamp(1.6rem, 2.5vw, 2.8rem);
          font-weight: 500;
        }

        p {
          font-size: clamp(rem, 1.2vw, 1.5rem);
          font-weight: 400;
        }
      }

      &:last-child {
        border-bottom: 1.5px solid lightgrey;
      }

      &:hover>span {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

      span {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #4246ce;
        font-size: 2rem;
        color: var(--primary);
        text-align: center;
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
                clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        -webkit-transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
        -o-transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
        transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .project-model {
    height: 100%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .model-container {
      height: 260px;
      width: calc(100% - 60px);
      border-radius: 2em;
      overflow: hidden;

      .model-slider {
        height: 100%;
        width: 100%;

        .model {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-transform: translateY(0%);
              -ms-transform: translateY(0%);
                  transform: translateY(0%);
          -webkit-transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
          -o-transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
          transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

          img {
            height: auto;
            width: 100%;
          }
        }

      }
    }

    .project-btn {
      a {
        text-decoration: none;
        color: var(--black);
      }

      p {
        font-size: 1.2em;
        font-family: "Neue Montreal", sans-serif;
        padding: 2vh 8vh;
      }
    }
  }
}

@media(max-width: 768px){
  .project-container-mobile{
    position: relative;
    height: auto;
    width: 100%;
    background-color: var(--primary);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .project-mobile{
      height:100%;
      width: calc(100% - 20px);

      img {
        width: 100%;
        height: auto;
      }

      h1 {
        font-size: 2.5rem;
        font-family: "Neue Montreal", sans-serif;
        font-weight: 500;
        margin: 20px 0;
      }

      .project-text-mobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1.5px solid var(--black);

        p {
          font-size: 1rem;
          font-family: "Neue Montreal", sans-serif;
          font-weight: 400;
          margin: 30px 0;
        }
      }

      &:first-child{
        margin-top:50px;
      }
    }
.project-btn-container{
  width:100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .project-btn-mobile{
    .roundedButton {
     padding: 20px 40px;
    }
  }
}
}
   
}
