* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Webfont: Humane-Regular */
@font-face {
  font-family: "Ostrich";
  src: url("../../public/fonts/ostrich-sans.sans-black.ttf") format("ttf"),
    /* Modern Browsers */ url("../../public/fonts/ostrich-sans.sans-black.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

:root {
  font-size: 16px;
  --primary: #fffaf1;
  --secondary: #111;
  --black: #1c1c1c;
  --accent: #455ce9;
  --blue: #455ce9;
  --bluehover: #4053d0;
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  scrollbar-width: none;
}
// imports for container component styles
@import "./Home.module.scss";

//imports for coustom component styles
@import "../components/Loader/Loader.module.scss";
@import "../components/Hamburger/Ham.scss";
@import "../components/Nav/Nav.scss";
@import "../components/Btn/btn.scss";
@import "../components/Transitions/Transition.scss";
@import "../components/Marquee/Marquee.scss";
@import "../components/Project/Project.module.scss";
