* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Webfont: Humane-Regular */
@font-face {
  font-family: "Ostrich";
  src: url("../../public/fonts/ostrich-sans.sans-black.ttf") format("ttf"),
    /* Modern Browsers */ url("../../public/fonts/ostrich-sans.sans-black.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../../public/fonts/NeueMontreal-Regular.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

:root {
  font-size: 16px;
  --primary: #fffaf1;
  --secondary:#131313;
  --grey:grey;
  --black: #111;
  --blue: #455ce9;
  --bluehover: #4053d0;
    font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  cursor: none;
}

//custom cursor

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 50%;
  transform: translate(-50%, -50%);

}

.blend-mode {
  mix-blend-mode: difference;
}

.cursor-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Neue Montreal", sans-serif;
  font-size: 0.4em;
}

// 404 page

.error-container{
  height: 100vh;
  width: 100%;
  z-index: 999;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .error-title {
    font-size: calc(90vh - 10em);
    font-family:Helvetica ;
    color: var(--primary);
    -webkit-filter: brightness(5%);
            filter: brightness(5%);
  }

  .error-notfound{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-family: Helvetica;
    color: var(--primary);
  }

  .error-btn{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    a{
      text-decoration: none;
      color: var(--primary);
      font-family: Arial, Helvetica, sans-serif;
    }
    p{
      padding: 20px 40px;
    }
  }
}


@media(max-width:768px){
  #custom-cursor{
    display: none;
  }
  .cursor-text{
    display: none;
    color: var(--primary);
  }

  .error-container{
    justify-content: space-evenly;
  }
  .error-title{
     font-size: 13rem !important;
  }
  .error-notfound{
    position: fixed !important;
    font-size: 1.2em !important;
    top: 55% !important;
    text-align: center;
  }
}

//invisible scrollbar 
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent
}

::-webkit-scrollbar-thumb{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--blue);
}
// imports for container component styles
@import "./Home.module.scss";
@import "../pages/about/about.module.scss";
@import "../pages/work/work.module.scss";
@import "../pages/work/[id]/workDetailes.module.scss";
@import "../pages/contact/contact.module.scss";

//imports for coustom component styles
@import "../components/Loader/Loader.module.scss";
@import "../components/Hamburger/Ham.scss";
@import "../components/Nav/Nav.scss";
@import "../components/Btn/btn.scss";
@import "../components/Transitions/Transition.scss";
@import "../components/Marquee/Marquee.scss";
@import "../components/Project/Project.module.scss";
@import '../components/Push/Push.module.scss';
@import"../components/AboutStack/AboutStack.modules.scss";
@import "../components/Techstack/Techstack.module.scss";
@import "../components/Footer/Footer.module.scss";
