

.slide-in {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:var(--secondary);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    z-index:4;
}

.slide-out {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:var(--secondary);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    z-index:4;
}