// workDetails.module.scss

.projectDetails {
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: Arial, sans-serif;

  h1 {
    font-size: 2rem;
    color: var(--blue);
  }

  .year {
    font-size: 1.2rem;
    color: var(--grey);
  }

  .projectImage {
    margin: 20px 0;
  }

  .type {
    font-size: 1rem;
    color: var(--grey);
  }

  .text {
    font-size: 1rem;
    color: var(--secondary);
  }
}
.project-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 67.5%; /* This is for the 700/475 aspect ratio */
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

