.dynamicWorkLoader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &>h1 {
    font-family: "Neue Montreal", sans-serif;
    font-size: clamp(1.3em, 1.4vw, 2em);
  }
}

///while loading the assests

.work-detailes-container {
  height: 100vh;
  width: 80%;
  margin-inline: auto;

  .detailes-header {
    height: 40vh;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 4rem;
    display: flex;
    
    .detailes-title {
      font-family: "Neue Montreal", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 1rem;
      width: 50%;

      &>h1 {
        font-size: 4rem;
        letter-spacing: 1.2px;
      }

      &>p {
        color: var(--grey);
      }
    }

    .detailes-btn {
      width: 50%;
      display: flex;
      justify-content:flex-end;
      align-items: flex-end;
      font-family: Arial, Helvetica, sans-serif ;
      gap: 3rem;

      a{
        text-decoration: none;
        color: var(--secondary);
        padding: 10px 18px;
      }
    }

  }
}