.marquee-container {
    height: 40vh;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    .sliderContainer {
        position: relative;
        top: 100px;
    }

    .slider {
        position: relative;
        white-space: nowrap;
    }

    .slider p {
        position: relative;
        margin: 0px;
        color: var(--secondary);
        font-family: "Neue Montreal", sans-serif;
        font-size: clamp(4rem, 9vw, 10rem);
        font-weight: 500;
        padding-right: 50px;
    }

    .slider p:nth-of-type(2) {
        position: absolute;
        left: 100%;
        top: 0;
    }
}

@media(max-width: 768px){
    .marquee-container {
        height: 20vh;
    }

    .sliderContainer{
        top: 0;
    }
    .slider p {
        font-size: clamp(2rem, 5vw, 6rem);
    }
}