@layer utilities {
  /* Background Colors */
  .bg-primary {
    background-color: #fff3f3;
  }

  .bg-secondary {
    background-color: lch(10.75 2.24 272.76);
  }

  .bg-tertiary {
    background-color: lch(44.13 80.66 290.69);
  }

  .border-color-secondary {
    border-color: lch(10.75 2.24 272.76);
  }
  .border-color-tertiary {
    border-color: lch(44.13 80.66 290.69);
  }
}

.nav-glass {
  background: linear-gradient(to bottom, #fff7f7, transparent);
  background: -moz-linear-gradient(to bottom, #fff7f7, transparent);
  background: -webkit-linear-gradient(to bottom, #fff7f7, transparent);

  /* backdrop-filter: blur(80px) saturate(60%);
  -webkit-backdrop-filter: blur(80px) saturate(60%); */
}
