.work-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);


  .work-main {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    .work-title {
      height: 60vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-family: "Neue Montreal", sans-serif;
      border-bottom: 1.5px solid var(--grey);

      &>h1 {
        padding-bottom: 10vh;
        font-weight: 450;
        font-size: calc(clamp(3.5em, 6vw, 7em) * 0.875);
        color: var(--secondary);
        line-height: 1.3;
      }
    }

    .work-project-container {
      height: 100%;
      width: 100%;

    }
  }
}

.work-bar {
  font-family: "Neue Montreal", sans-serif;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
  color: var(--primary);
  }
  
  .filter-buttons,
  .sort-buttons {
    display: flex;
    gap: 15px;
    
    .filter-button,.sort-button {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    padding: 20px 25px;
    cursor: pointer;
  }

  .roundedButton{
    padding: 0;
  }
  .sort-button {
    padding: 18px 20px;
    border-radius: 30px;
    border: 1px solid var(--grey);
  }

  .active {
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    border: 0;
  }
}

.work-project-container {
  font-family: "Neue Montreal", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px;
  //gap: 20px;
}

.work-project {
  background-color: var(--primary);
  border-radius: 8px;
  padding: 20px;
  width: calc(50% - 10px);// Adjust width for two columns
  transition: transform 0.2s;
  text-decoration: none;

  // &:last-child{
  //   border-bottom: 1px solid var(--grey);
  //   border-radius: 0;
  // }

  &:hover {
    transform: scale(1.05);
  }

  .project-image {
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 67.5%;
    border-radius: 8px;
    overflow: hidden;


    .image {
      border-radius: 8px;
      height: 100%;
      width: auto;
      object-fit: contain;
      padding: 2.5em;
    }
  }

  .separator {
    border-top: 1px solid var(--grey);
    margin: 20px 0;
  }

  .project-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    &:hover{
      color: var(--grey);
    }

    h2 {
      font-size: 1.5em;
      margin: 0;
      color: var(--secondary);
    }

    .project-year {
      font-size: 1em;
      font-weight: bold;
      color: var(--secondary);
    }
  }

  .project-type {
    margin: 10px 0;
    color: var(--grey);
    font-size: 1em;

    &>p{
      &:hover{
        color: var(--grey);
      }
    }
  }

  a {
    color: var(--blue);
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: var(--bluehover);
      text-decoration: underline;
    }
  }
}



.project-compact {
  display: flex;
  //flex-direction: column;
  justify-content: space-eve;
  align-items: center;
  width: 100%;
  border-top:1px solid var(--grey);
  border-radius: 0;
  padding: 25px 0px;

  .project-text {
    width: 51%;

    h2 {
      font-size: 1.2em;
      margin: 0;
      color: var(--secondary);
    }

    .project-year{
      color: var(--grey);
    }
  }

  .project-type{
    width: 49%;
    color: var(--secondary);
    display: flex;
    justify-content: flex-end;
  }

  .separator {
    border-top: 0px solid var(--primary);
    margin: 0px 0px;
  }
}

.project-index{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &>h5 {
    text-transform: uppercase;
    color: var(--grey);
  }

}

.index-none{
  display:none;
}
// Responsive Styles
@media (max-width: 768px) {


  .work-main{
    width: 90%;
  }

  .work-title {
    height: 50vh;

    &>h1 {
      padding-bottom: 5vh;
    }
  }
  .work-project-container{
    padding: 0;

    .work-project {
      width: 100%;
      padding: 0;
    }
  }

  .project-image {
    .image{
      padding: 1em !important;
    }
  }

    .work-bar {
      width: 100%;
      padding: 0;
      margin-bottom: 10px;

      .filter-buttons {
        gap: 10px;
        .filter-button {
          padding: 20px 22px;
        }
      }
    }
}